*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 224, 224);
}

.marquee-section{
    background-color: burlywood;
    padding: 0;
    height: 42px;
}

.navbar-section{
    background-color: rgb(78 73 73 / 75%);
    padding: 0.6%;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    padding: 0 144px;
}

.navbar-logo img{
   display: block;
}

.navbar-menu-list a{
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 19px;
    font-family: monospace;
}

.navbar-menu-list a:hover{
    background-color: rgb(43, 39, 39);
}

.navbar-icon i{
    color: white;
}


.navbar-icon{
    font-size: 24px;
    padding: 0 112px;
}


.bookings{
    font-size: 40px;
    color: rgb(7, 0, 22);
    font-family: Arial, Helvetica, sans-serif;
}
.book{
    
    padding: 40px;
}
.ref{ font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 0, 22);
}

.enter{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 2, 46);
}

.details-section{
    background: #a3a1a14a;
    padding: 50px;
}

.details{
    padding: 60px;
    background-color: white;
    border-radius: 25px;
}
.form{
    box-shadow: 2px 2px 3px 3px rgba(197, 197, 199, 0.87);
    width: 20%;
    padding: 12px 20px;
    margin:  8px 0;
    box-sizing: border-box;
    border: none;
}
.fa{
    font-size: 30px;
    
}
.button{
    background-color: gray;
    color:rgb(0, 0, 0) ;
    text-align: center;
    font-size: 13px;
    border: none;
    border-radius: 13px;
   padding: 12.8px 20px;
   margin: 4px 2px;

}.button:hover{
    background-color:rgba(0, 0, 0, 0.226) ;   
}


.bottom-section{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
}

.bottom-section-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 79px 94px;
    flex-wrap: wrap;
}

.abt-us-section h3{
    font-size: 25px;
}

.abt-us-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    font-family: cursive;
}

.support-section h3{
    font-size: 25px;
}

.support-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    font-family: cursive;
}

.manage-section h3{
    font-size: 25px;
}

.manage-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    font-family: cursive;
}

.follow-us-section h3{
    font-size: 25px;
}

.follow-us-section a{
    color: white;
    text-decoration: none;
    font-family: cursive;
}



@media (max-width:768px){

    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 100%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }
}

@media (max-width:1300px){
    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 70%;
        
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }
   
}

@media (max-width:450px){
    .navbar-container{
        flex-wrap: wrap;
    }

    .navbar-logo{
        width: 100%;
    }
    .navbar-logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-container{
        text-align: center;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 12px;
        padding: 26px 1px;
        margin: 0;
        line-height: 3;
    }

    .navbar-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .bottom-section-container{
        flex-direction: column;
        text-align: center;
    }

    .support-section{
        padding: 20% 0;
    }

    .manage-section{
        padding: 20% 0;
    }

    .follow-us-section{
        padding: 20% 0;
    }

}

@media (width: 540px){

    .bottom-section-container{
        flex-direction: column;
        text-align: center;
    }

    .support-section{
        padding: 10% 0;
    }

    .manage-section{
        padding: 10% 0;
    }

    .follow-us-section{
        padding: 10% 0;
    }

}