*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.marquee-section{
    background-color: burlywood;
    padding: 0;
    height: 42px;
}

.navbar-section{
    background-color: rgb(78 73 73 / 75%);
    padding: 0.6%;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    padding: 0 144px;
}

.navbar-logo img{
   display: block;
}

.navbar-menu-list a{
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 19px;
}

.navbar-menu-list a:hover{
    background-color: rgb(43, 39, 39);
}

.navbar-icon i{
    color: white;
}


.navbar-icon{
    font-size: 24px;
    padding: 0 112px;
}

#flight-section{
    width: 100%;
    height: 100%;
    background-image: url(image/sunrise-frankfurt-airport.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.flight-section-container{
    width: 100%;
    height: 100%;
    padding: 40px 0;
   
}

.flight-booking{
    background-color: #0000009c;
    width: 100%;
    height: 50%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 37px;
    color: white;
}

.flight-round-onetrip{
    padding: 21px 0;
}


.form-section{
    display: flex;
    padding: 29px 0;
    flex-wrap: wrap;
}

.first-lineform-2a{
    padding: 0 70px;
}

.first-lineform-input{
    display: table;
}
.first-lineform-input span{
    display: table-cell;
}

.first-lineform-input span i{
    background-color: white;
    padding: 6px;
    width: 33px;
    color: rgb(92, 92, 92);
    text-align: center;
    border: 1px solid #80808078;
}

.first-lineform-list{
    width: 100%;
    padding: 5px;
    border: 1px solid #8080808a;
}


.form-section2{
    display: flex;
    padding: 29px 0;
    flex-wrap: wrap;
}

.second-lineform-input{
    display: table;
}
.second-lineform-input span{
    display: table-cell;
}

.second-lineform-input span i{
    background-color: white;
    padding: 6px;
    width: 33px;
    color: rgb(92, 92, 92);
    text-align: center;
    border: 1px solid #80808078;
}

.second-lineform-list{
    width: 100%;
    padding: 5px 45px;
    border: 1px solid #8080808a;
}

.second-lineform-2a{
    padding: 0 70px;
}

.second-lineform-2a-input{
    display: table;
}
.second-lineform-2a-input span{
    display: table-cell;
}

.second-lineform-2a-input span i{
    background-color: white;
    padding: 6px;
    color: rgb(92, 92, 92);
    width: 33px;
    text-align: center;
    border: 1px solid #80808078;
}

.second-lineform-2a-list{
    width: 100%;
    padding: 5px 45px;
    border: 1px solid #8080808a;
}

.form-section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 0;

}

.third-lineform-list{
    width: 227px;
    padding: 5px;
    border: 1px solid #8080808a;


}

.button-container{
    display: inline-block;
    padding: 25px 0;
}

.button-container button{
    padding: 5px;
    border-radius: 13px;
}

.button-container button a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 16px;

}


.destination-container{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 239, 227);
}

.destination-text{
    text-align: center;
    font-size: 34px;
    width: 100%;
    padding: 31px 0;
}

.destination-image-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.abuja-image{
    position: relative;
}

.abuja-image img{
    width: 250px;
}

/* ..abuja-text style for all the texts in the about-section.. */
.abuja-text{
    background-color: #0b0a0a4a;
    position: absolute;
    height: 20%;
    color: white;
    font-size: 24px;
    top: 75%;
    left: 0%;
    text-align: center;
    width: 249px;
}

.inner-destination-image{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.abuja-section{
    padding: 0px 30px;
    width: 50%;
}

.inner-destination-image2{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.bottom-section{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
}

.bottom-section-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 103px;
    flex-wrap: wrap;
}


.abt-us-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.support-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.manage-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.follow-us-section a{
    color: white;
    text-decoration: none;
}


@media (max-width:768px){

    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 100%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .flight-booking{
        width: 100%;
        max-width: 700px;
    }

    .destination-image-container{
        flex-wrap:wrap ;
        width: 100%;
        flex-direction: column;
    }

    .inner-destination-image{
        width: 100%;
        padding: 10%;
    }

    .inner-destination-image2{
        width: 100%;
        padding: 10%;
        padding-top: 0;
    }

}



@media (max-width:1300px){
    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 70%;
        
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .destination-image-container{
        flex-wrap:wrap ;
        width: 100%;
        flex-direction: column;
    }

    .inner-destination-image{
        width: 100%;
        padding: 10%;
    }

    .inner-destination-image2{
        width: 100%;
        padding: 10%;
        padding-top: 0;
    }
   

}


@media (max-width:450px){
    .navbar-container{
        flex-wrap: wrap;
    }

    .navbar-logo{
        width: 100%;
    }
    .navbar-logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 12px;
        padding: 26px 1px;
        margin: 0;
        line-height: 3;
    }

    .navbar-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .flight-booking{
        width: 100%;
    }

    .first-lineform-2a{
        padding: 30px 0;
    }

    .second-lineform-2a{
        padding: 30px 0;
    }

    .form-section3{
        flex-wrap: wrap;

    }

    .third-lineform{
        padding: 12px 0;
        
    }

    .inner-destination-image{
        flex-direction: column;
       
   }
    
    .inner-destination-image2{
        flex-direction: column;
    }

    .bottom-section-container{
        flex-direction: column;
    }


    
}

@media (width: 540px){
    .inner-destination-image{
        flex-direction: column; 
        padding: 0 20%;           
   }
    
    .inner-destination-image2{
        flex-direction: column;
        padding: 0 20%;
    }

    .bottom-section-container{
        flex-direction: column;
    }

}    


@media (max-width:330px){
    .inner-destination-image{
        flex-direction: column;
        padding: 0;
       
   }
    
    .inner-destination-image2{
        flex-direction: column;
        padding: 0;
    }

    .bottom-section-container{
        flex-direction: column;
    }
}