*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.marquee-section{
    background-color: burlywood;
    padding: 0;
    height: 42px;
}

.navbar-section{
    background-color: rgb(78 73 73 / 75%);
    padding: 0.6%;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    padding: 0 144px;
}

.navbar-logo img{
   display: block;
}

.navbar-menu-list a{
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 19px;
}

.navbar-icon i{
    color: white;
}


.navbar-icon{
    font-size: 24px;
    padding: 0 112px;
}

.welcome-section{
    background-image: url(image/air.jpg);
    height: 565px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* position: relative; */

}

.welcome-text{
    color: wheat;
    width: 100%;
    padding: 75px 174px;
    background-color: #00000057;
    position: absolute;
}

.row-section{
    background-color: rgb(219, 217, 212);
    width: 100%;
    height: 100%;
}

.row-section-container{
    width: 100%;
    height: 100%;
    padding: 104px;
    display: flex;
    justify-content: center;
    position: relative;
}

.row-icon1{
    text-align: center;
    width: 30%;
}


.inner-row-icon1 i {
    background-color: blue;
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 26px;
    color: white;
    font-size: 25px;
    border-radius: 50%;
}

.inner-row-content{
    padding: 19px 4px;
}

.inner-row-content h4 {
    font-size: 25px;
    padding: 10px 0px;
}

.inner-row-content p{
    padding-top: 1%;
    font-size: 120%;
}


.row-line1 hr {
    background: black;
    width: 272px;
    height: 3px;
    position: absolute;
    top: 32%;
    left: 28%;
    border: none;
}

.row-line2 hr {
    background: black;
    width: 272px;
    height: 3px;
    position: absolute;
    top: 32%;
    left: 55%;
    border: none;
}

.destination-container{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 239, 227);
}

.destination-text{
    text-align: center;
    font-size: 34px;
    width: 100%;
    padding: 31px 0;
}

.destination-image-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.abuja-image{
    position: relative;
}

.abuja-image img{
    width: 250px;
}

/* ..abuja-text style for all the texts in the about-section.. */
.abuja-text{
    background-color: #0b0a0a4a;
    position: absolute;
    height: 20%;
    color: white;
    font-size: 24px;
    top: 75%;
    left: 0%;
    text-align: center;
    width: 249px;
}

.inner-destination-image{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.abuja-section{
    padding: 0px 30px;
    width: 50%;
}

.inner-destination-image2{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.bottom-section{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
}

.bottom-section-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 103px;
    flex-wrap: wrap;
}


.abt-us-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.support-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.manage-section a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.follow-us-section a{
    color: white;
    text-decoration: none;
}




@media (max-width:768px){

    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 100%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .welcome-section{
        width: 100%;
    }

    .welcome-text{
        width: 100%;
        padding: 7%;
        padding-top: 24%;
    }

    .row-section-container{
        padding: 3%;
        width: 100%;
    }

    .row-icon1{
        width: 100%;
    }

    .inner-row-content p{
        text-align: justify;
        width: 90%;
        padding: 0 10px;

    }

    .row-line1 hr{
        width: 16%;
        top: 18%;
        left: 26%;
    }
   
    .row-line2 hr {
        width: 16%;
        top: 18%;
        left: 57%;
    }


    .destination-image-container{
        flex-wrap:wrap ;
        width: 100%;
        flex-direction: column;
    }

    .inner-destination-image{
        width: 100%;
        padding: 10%;
    }

    .inner-destination-image2{
        width: 100%;
        padding: 10%;
        padding-top: 0;
    }

}

@media (max-width:1300px){
    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 70%;
        
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .row-icon1{
        width: 100%;
    }

    .inner-row-content p{
        text-align: justify;
        width: 90%;
        padding: 0 10px;

    }

    .row-line1 hr{
        width: 16%;
        top: 21%;
        left: 26%;
    }
   
    .row-line2 hr {
        width: 16%;
        top: 21%;
        left: 57%;
    }

    .row-section-container{
        padding: 3%;
        width: 100%;
    }

    .destination-image-container{
        flex-wrap:wrap ;
        width: 100%;
        flex-direction: column;
    }

    .inner-destination-image{
        width: 100%;
        padding: 10%;
    }

    .inner-destination-image2{
        width: 100%;
        padding: 10%;
        padding-top: 0;
    }

    
}

@media (max-width:450px){
    .navbar-container{
        flex-wrap: wrap;
    }

    .navbar-logo{
        width: 100%;
    }
    .navbar-logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 12px;
        padding: 26px 1px;
        margin: 0;
        line-height: 3;
    }

    .navbar-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .row-section-container{
        flex-wrap: wrap;
    }

    .row-line1 hr, .row-line2 hr{
        display: none;
    }

    

   .inner-destination-image{
        flex-direction: column;
       
   }
    
    .inner-destination-image2{
        flex-direction: column;
    }

    .bottom-section-container{
        flex-direction: column;
    }


}

@media (width: 540px){
    .inner-destination-image{
        flex-direction: column; 
        padding: 0 20%;           
   }
    
    .inner-destination-image2{
        flex-direction: column;
        padding: 0 20%;
    }

    .bottom-section-container{
        flex-direction: column;
    }
}

@media (max-width:330px){
    .inner-destination-image{
        flex-direction: column;
        padding: 0;
       
   }
    
    .inner-destination-image2{
        flex-direction: column;
        padding: 0;
    }

    .bottom-section-container{
        flex-direction: column;
    }
}