*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.marquee-section{
    background-color: burlywood;
    padding: 0;
    height: 42px;
}

.navbar-section{
    background-color: rgb(78 73 73 / 75%);
    padding: 0.6%;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    padding: 0 144px;
}

.navbar-logo img{
   display: block;
}

.navbar-menu-list a{
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 19px;
}

.navbar-icon i{
    color: white;
}


.navbar-icon{
    font-size: 24px;
    padding: 0 112px;
}

.welcome-section{
    background-image: url(image/air.jpg);
    height: 565px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* position: relative; */

}

.welcome-text{
    color: wheat;
    width: 100%;
    padding: 75px 174px;
    background-color: #00000057;
    position: absolute;
}

.row-section{
    background-color: rgb(185, 170, 33);
    width: 100%;
    height: 100%;
}

.row-section-container{
    width: 100%;
    height: 100%;
    padding: 104px;
    display: flex;
    justify-content: center;
    position: relative;
}

.row-icon1{
    text-align: center;
    width: 30%;
}


.inner-row-icon1 i {
    background-color: blue;
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 26px;
    color: white;
    font-size: 25px;
    border-radius: 50%;
}

.inner-row-content{
    padding: 19px 4px;
}

.inner-row-content h4 {
    font-size: 25px;
    padding: 10px 0px;
}

.inner-row-content p{
    padding-top: 1%;
    font-size: 120%;
}


.row-line1 hr {
    background: black;
    width: 272px;
    height: 3px;
    position: absolute;
    top: 32%;
    left: 28%;
    border: none;
}

.row-line2 hr {
    background: black;
    width: 272px;
    height: 3px;
    position: absolute;
    top: 32%;
    left: 55%;
    border: none;
}




@media (max-width:768px){

    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 100%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .welcome-section{
        width: 100%;
    }

    .welcome-text{
        width: 100%;
        padding: 7%;
        padding-top: 24%;
    }

    .row-section-container{
        padding: 3%;
        width: 100%;
    }

    .row-icon1{
        width: 100%;
    }

    .inner-row-content p{
        text-align: justify;
        width: 70%;
    }

    .row-line1 hr{
        width: 16%;
        top: 18%;
        left: 26%;
    }
   
    .row-line2 hr {
        width: 20%;
    }
}

@media (max-width:1300px){
    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 70%;
        
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    
}

@media (max-width:450px){
    .navbar-container{
        flex-wrap: wrap;
    }

    .navbar-logo{
        width: 100%;
    }
    .navbar-logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 12px;
        padding: 26px 1px;
        margin: 0;
        line-height: 3;
    }

    .navbar-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    
    
}