*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.marquee-section{
    background-color: burlywood;
    padding: 0;
    height: 42px;
}

.navbar-section{
    background-color: rgb(78, 73, 73);
    padding: 0.6%;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    padding: 0 144px;
}

.navbar-logo img{
   display: block;
}

.navbar-menu-list a{
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 19px;
}

.navbar-icon i{
    color: white;
}


.navbar-icon{
    font-size: 24px;
    padding: 0 112px;
}

.welcome-section{
    background-image: url(image/air.jpg);
    height: 565px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;

}

.welcome-text{
    color: wheat;
    width: 100%;
    padding: 75px 174px;
    background-color: #00000057;
    position: absolute;
}









@media (max-width:768px){

    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 100%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .navbar-container{

    }
}

@media (max-width:1300px){
    .navbar-logo{
        padding: 0;
    }

    .navbar-menu{
        padding: 0;
        width: 64%;
    }

    .navbar-menu-list a{
        padding: 3px;
        text-align: center;
    }

    .navbar-icon{
        padding: 0;
    }

    .navbar-container{

    }
}

@media (max-width:450px){
    .navbar-container{
        flex-wrap: wrap;
    }

    .navbar-logo{
        width: 100%;
    }
    .navbar-logo img{
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-menu{
        width: 100%;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 12px;
        padding: 26px 1px;
        margin: 0;
        line-height: 3;
    }

    .navbar-icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    
    
}